{% extends "template.html" %}

{% block title %}Feedback Failure{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <div class="alert alert-danger mt-5">
                <h1 class="display-4">Feedback Submission Failed!</h1>
                <p class="lead">Sorry, there was an issue with your feedback submission. Please try again later.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
